<div id="main">
	<div id="left" class="form-group">
		<h4>Add:</h4>
		<form class="form-inline" ng-submit="submit()" name="addForm" id="addForm" ng-model="addForm" />
		<p><label ng-class="class">Item:</label> <input type="text" id="addItem" ng-model="item" placeholder=" At least 3 characters" required /></p>
		<label>Where:</label> <select class="form-control select_box" ng-model="room" id="selectRoom" required /><option value ="" disabled ng-selected="true">Choose one</option>
		<option value="Yard">Yard</option>
		<option value="Living Room">Living Room</option>
		<option value="Kitchen">Kitchen</option>
		<option value="Bathroom">Bathroom</option>
		<option value="Bedroom">Bedroom</option>
		</select>
		<div class="button"><button class="btn btn-primary" type="submit">Submit</button></div>
		</form>
		<h4>Search:</h4>
		<input type="text" class="search" ng-model="query" />
			<p ng-show="query" ng-repeat="thing in things | filter:search" class="results">{{thing.item}} - {{thing.room}}</p>
	</div>
	<div id="right">
	<section ng-init="tab = 1">
		<ul class="nav nav-tabs">
		<li ng-class="{ active:tab === 1 }"><a href ng-click="tab = 1">Yard</a></li>
		<li ng-class="{ active:tab === 2 }"><a href ng-click="tab = 2">Living Room</a></li>
		<li ng-class="{ active:tab === 3 }"><a href ng-click="tab = 3">Kitchen</a></li>
		<li ng-class="{ active:tab === 4 }"><a href ng-click="tab = 4">Bathroom</a></li>
		<li ng-class="{ active:tab === 5 }"><a href ng-click="tab = 5">Bedroom</a></li>
		</ul>
	</section>
	<div class="panel" ng-show="tab === 1">
		<b>Quantity: {{(things|filter:{room:'Yard'}).length}}</b>
		<p ng-repeat="thing in things" ng-show="thing.room === 'Yard'"><a href ng-click="remove(thing, $index)" class="red-x">&#10005;</a> {{thing.item}} - {{thing.room}}</p>
	</div>
	<div class="panel" ng-show="tab === 2">
		<b>Quantity: {{(things|filter:{room:'Living Room'}).length}}</b>
			<p ng-repeat="thing in things" ng-show="thing.room === 'Living Room'"><a href ng-click="remove(thing, $index)" class="red-x">&#10005;</a> {{thing.item}} - {{thing.room}}</p>
	</div>
	<div class="panel" ng-show="tab === 3">
		<b>Quantity: {{(things|filter:{room:'Kitchen'}).length}}</b>
		<p ng-repeat="thing in things"  ng-show="thing.room === 'Kitchen'"><a href ng-click="remove(thing, $index)" class="red-x">&#10005;</a> {{thing.item}} - {{thing.room}}</p>
	</div>
	<div class="panel" ng-show="tab === 4">
		<b>Quantity: {{(things|filter:{room:'Bathroom'}).length}}</b>
		<p ng-repeat="thing in things" ng-show="thing.room === 'Bathroom'"><a href ng-click="remove(thing, $index)" class="red-x">&#10005;</a> {{thing.item}} - {{thing.room}}</p>
	</div>
	<div class="panel" ng-show="tab === 5">
		<b>Quantity: {{(things|filter:{room:'Bedroom'}).length}}</b>
		<p ng-repeat="thing in things" ng-show="thing.room === 'Bedroom'"><a href ng-click="remove(thing, $index)" class="red-x">&#10005;</a> {{thing.item}} - {{thing.room}}</p>
	</div>
	</div>
	<div class="clear_left"></div>
</div>