body {
	padding:0px;
	margin:0px;
	background-color:#f5f5f5;
}
#brand {
	font-size:32px;
	font-family: 'chunkfiveroman';
	color:#ac1403;
	padding:0 0 0 12px;
	box-shadow: 0px 5px 5px #c0c0c0;
	background-image:url('binding_light.png');
	background-position:0px 4px;
}
#main {
	padding:40px;
}

.nav-pills {
  margin-bottom: 30px;
}

.nav-pills > li > a:hover,
.nav-pills > li > a:focus{
  color: #ac005f;
}

.nav-pills > li.active > a,
.btn-primary,
.btn-primary:focus {
  background: #ac005f;
  border: 0;
}

.nav-pills > li.active > a:hover,
.btn-primary:hover {
  background: #ac005f;
}
