body {
	padding:0px;
	margin:0px;
	background-color:#f5f5f5;
}
#brand {
	font-size:32px;
	font-family: 'chunkfiveroman';
	color:#ac1403;
	padding:0 0 0 12px;
	box-shadow: 0px 5px 5px #c0c0c0;
	background-image:url('binding_light.png');
	background-position:0px 4px;
}
#main {
	padding:40px;
}
#left {
	width:240px;
	float:left;
	}
#right {
	float:left;
}
#clear_left {
	clear:left;
}
.nav-tabs {
	width:500px;
}
.nav > li > a {
    background-color: #dedede;
    color:#000;
    line-height:1.0;
}
.nav > li > a:hover, .nav > li > a:focus {
    background-color: #d7d7d7;
}
.nav-tabs > li > a {
    margin-right: 4px;
}
.panel {
	width:500px;
	padding:14px;
	background-color:#FFFFFF;
	border-width:0px 1px 1px 1px;
	border-color:#DDDDDD;
	border-style:solid;
	border-radius:3px;
}
.panel ul {
	margin:0px 0 0 10px;
	padding:0px;
	list-style-type:none;
}