body {
	padding:0px;
	margin:0px;
	background-color:#f5f5f5;
}
#brand {
	font-size:32px;
	font-family: 'chunkfiveroman';
	color:#ac1403;
	padding:0 0 0 12px;
	box-shadow: 0px 5px 5px #c0c0c0;
	background-image:url('binding_light.png');
	background-position:0px 4px;
}
#main {
	padding:40px;
}
#left {
	width:200px;
	margin-right:60px;
	float:left;
}
h4 {
	margin:0px 0 12px 0;
}
#right {
	float:left;
}
.clear_left {
	clear:left;
}
.button {
	text-align:right;
}
.btn {
	margin:10px 15px 0 0;
}
.results {
	margin:4px 0 4px 8px;
	text-transform:capitalize;
}
.search {
	margin-bottom:6px;
}
.form-inline .form-control {
    width: 138px;
}
.nav-tabs {
	width:500px;
	border-bottom:1px solid #949494;
	margin-top:32px;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    border: 1px solid #949494;
    border-bottom-color: transparent;
}
.nav > li > a {
    background-color: #dedede;
    color:#000;
    line-height:1.0;
    border-color:#949494;
    margin-right: 4px;
}
.nav > li > a:hover, .nav > li > a:focus {
    background-color: #cbcbcb;
	border-color:#949494;
}
.panel {
	width:500px;
	padding:14px;
	background-color:#FFFFFF;
	border-width:0px 1px 1px 1px;
	border-color:#949494;
	border-style:solid;
	border-radius:0px 0px 3px 3px;
}
.panel ul {
	margin:0px 0 0 10px;
	padding:0px;
	list-style-type:none;
}

.panel p {
	margin:4px 0 4px 10px;
	text-transform:capitalize;
}
a.red-x, a.red-x:hover, a.red-x:focus {
	color:red;
	text-decoration:none;
}

.test ul {
	margin:6px 0 0 2px;
	padding:0px;
	list-style-type:none;
}
.test ul li {
	margin:0px;
	padding:0px;
	text-transform:capitalize;
}